{{ define "header" }}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>GameApp | мини-игры</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">GameApp</h1>
        <nav class="menu">
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
        </nav>
        <a class="blue-but" href="#">Login</a>
        <a class="red-but" href="#">Exit</a>
    </header>
    <main class="main">
        
{{ end }}