<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GameApp | платформа для мини-игр</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="block-info">
		<h1 class="title">GameApp</h1>
		<nav class="menu">
			<a href="/">Главная</a>
			<a href="/about">О нас</a>
		</nav>
		<p class="text">
			Это главная страница.
		</p>
		<p class="dev">Varlamov Damir</p>
	</div>
</body>
</html>